body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
h1 {
    color: white;
}

div{
    margin: 40px auto;
    background-color: #333;
    width: 40%;
    border-radius: 12px;
    padding: 15px;
}
img{
    border-radius: 50%;
    height: 90px;
    width: 90px;
}
p{
    color: aquamarine;
}